<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
            <div class="container-fluid">
{#              <a class="navbar-brand" href="{% url 'bank_structure:item_list' %}">MyApp</a>#}
            </div>
        </nav>
        <hr>
        <hr>
        <hr>
        <main class="container">
        {% block content %}

        {% endblock %}
        </main>

        <footer class="py-5">

          <div class="d-flex justify-content-center">
            <p>© 2022 MKS, DateTime generation page - {{ current_year }}</p>
          </div>
        </footer>
    </body>

</html>